<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
		backupStaticAttributes="false"
		bootstrap="vendor/autoload.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		processIsolation="false"
		stopOnFailure="false">
	<testsuites>
		<testsuite name="ETL Test Suite">
			<file>tests/SchemaValidatorTest.php</file>
			<file>tests/SchemaTest.php</file>
			<file>tests/SchemaMergerTest.php</file>
			<file>tests/MSDatatyperTest.php</file>
			<file>tests/MicrosoftDDLwithoutStageTest.php</file>
			<file>tests/MicrosoftDDLwithStageTest.php</file>
			<file>tests/SchematizerUtilitiesTest.php</file>
			<file>tests/SchematizerTest.php</file>
			<file>tests/ParseValidatorTest.php</file>
			<file>tests/XMLTest.php</file>
			<file>tests/FolderTest.php</file>
			<file>tests/DBTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="./coverage"
			lowUpperBound="35"   highLowerBound="90"/>
		<log type="coverage-text" target="php://stdout"
			showUncoveredFiles="false"/>
	</logging>
	<php>
		<env name="APP_ENV" value="testing"/>
		<env name="CACHE_DRIVER" value="array"/>
		<env name="SESSION_DRIVER" value="array"/>
		<env name="QUEUE_DRIVER" value="sync"/>
	</php>
</phpunit>
